
.comment_post {
    border: 1px solid black;
    width: 100%;
    background-color: #1a1a1a;

    display: flex;
    flex-direction: column;

    margin-bottom: 2rem;
}

.comment_post > textarea {
    resize: vertical;
}

.comment_post > button {
    width: 10rem;
}