
.create_post {
    width: 100%;
    height: max-content;
    border-radius: 1rem;

    margin-bottom: 1rem;
    grid-column: 2;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.character_counter {
    color: #83a1c0;
    margin: 0;
}

.character_counter_error {
    color: rgb(187, 61, 61);
    margin: 0;
}

.inputs {
    width: 100%;
    height: max-content;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs > label {
    display: none;
}

.input_post {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
    width: max-content;
}

.input_post > p {
    color: #EEF0F2;
}

.input_post > label {
    display: none;
}

.textarea {
    font-size: 1rem;
    width: 100%;
    min-height: 1rem;

    display: block;
    overflow: hidden;
    resize: none;

    background-color: #111111;

    border-radius: 1rem;
    border: 0.15rem solid #292929;

    color: #EEF0F2;
    padding: 1rem;
}

.textarea:focus {
    outline: none;
    border: 0.15rem solid #83a1c0;
}

.textarea_error {
    font-size: 1rem;
    width: 100%;
    min-height: 1rem;

    display: block;
    overflow: hidden;
    resize: none;

    background-color: #1a1a1a;

    border-radius: 1rem;
    border: 0.15rem solid rgb(187, 61, 61);

    color: #EEF0F2;
    padding: 1rem;
}

.textarea_error:focus {
    border: 0,15rem solid #bb3d3d;
    outline: none;
}






.post_button {
    background-color: transparent;

    border: 0.15rem solid #292929;
    border-radius: 0.5rem;

    width: max-content;
    padding: 0rem 2rem;
    margin-right: 1rem;

    color: #EEF0F2;

    cursor: pointer;
    transition: 0.2s;
}

.post_button:hover {
    transform: scale(0.9);
}

.upload_image {
    background-color: transparent;
    border: none;

    padding: 0;
    box-sizing: border-box;
}

.upload_image > img {
    width: auto;
    height: 2rem;
    cursor: pointer;

    margin: 0;
    padding: 0;
    transition: 0.2s;
}


.upload_image > img:hover {
    transform: scale(0.9);
}

.remove_image {
    background-color: transparent;

    border: 0.15rem solid #292929;
    border-radius: 0.5rem;

    width: 8rem;
    height: 2.5rem;
    color: #EEF0F2;

    cursor: pointer;
    transition: 0.2s;
}

.remove_image:hover {
    transform: scale(0.9);
}

.image_preview {
    width: 100%;
    height: auto;
    margin: 1rem 0rem 0rem 0rem;

    border: 0.15rem solid #292929;
    
}