

.home_main {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 0.25fr;
    grid-auto-rows: max-content;

    background-color: white;
    min-height: 100vh;
    height: max-content;

    gap: 2rem;
    padding: 5rem 0rem;
    
    justify-items: flex-start;
}



.media_post_div {
    color: black;
    text-decoration: none;
    grid-column: 2;
}

.media_link {
    color: black;
    text-decoration: none;
}

.sort {
    grid-column: 3;
    grid-row: 1;

    display: flex;
    justify-content: center;
}

.sort > button {
    height: 3rem;
    width: 8rem;

    font-size: 1.2rem;
    font-weight: 700;

    border: none;

    cursor: pointer;
}


.delete_button {
    width: 10rem;
}