

.home_main {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 0.25fr;
    background-color: rgb(255, 255, 255);
}

.media_post_link {
    color: black;
    text-decoration: none;
    grid-column: 2;

    height: max-content;
}

.media_post {
    border: 1px solid black;
    padding: 1rem 4rem;
}

.post_title {
    font-size: 2rem;
}

.sort {
    grid-column: 3;
    grid-row: 1;
    border: 1px solid black;
}