
.nav_section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 7rem;
    padding: 0rem 5rem;

    position: relative;
    z-index: 2;
    background-color: #1a1a1a;
    border-bottom: 0.15rem solid #292929;
}
.nav_section > div {
    display: flex;
    justify-content: space-between;

    width: 15rem;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: #EEF0F2;
    text-decoration: none;
}

.navbar {
    width: 30rem;

    display: flex;
    justify-content: space-between;
}

.navlink {
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s ease;
    color: #EEF0F2;
    text-decoration: none;
}

.navlink:hover {
    transform: scale(1.1);
}