.main {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #1a1a1a;
    color: #EEF0F2;
    height: max-content;
    min-height: 100vh;

    padding-bottom: 6rem;
}


.content {
    position: relative;
    top: 2rem;

    width: 35rem;
    height: max-content;
}

.detail_container {
    border: 1px solid black;
    margin-bottom: 2rem;
}

.comment_container {
    min-height: 10rem;
    height: max-content;
}

.comment {
    font-size: 1rem;
    border: 1px solid black;
}


.post_image {
    width: 100%;
}

.media_link {
    text-decoration: none;
    color: #EEF0F2;
    font-weight: 700;
    font-size: 1.1rem;
}